<table width="90%">
    <tr>
        <td width="20%" class="dot-container">
            <div class="vertical-spacing-bottom-0-25">{{1.0 | onekall_score_circle | safe}}</div>
        </td>
        <td width="20%" class="dot-container">
            <div class="vertical-spacing-bottom-0-25">{{0.1 | onekall_score_circle | safe}}</div>
        </td>
        <td width="20%" class="dot-container">
            <div class="vertical-spacing-bottom-0-25">{{0 | onekall_score_circle | safe}}</div>
        </td>
        <td width="20%" class="dot-container">
            <div class="vertical-spacing-bottom-0-25">{{0.7 | onekall_score_circle | safe}}</div>
        </td>
        <td width="20%" class="dot-container">
            <div class="vertical-spacing-bottom-0-25">{{0.3 | onekall_score_circle | safe}}</div>
        </td>
    </tr>
</table>