{% extends "shared/base.html" %}





{% block main %}

{% include "styles.html" %}

<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <small><strong>Allele</strong></small>
                <h1 class="heading-large vertical-spacing-bottom structure-title">{{allele | deslugify_allele }}</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="grid-container">
        <div class="column-one-third">
            <div class="inner">
                <div>
                    <h3 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25 heading-small">Species</h3>
                    <a href="/alleles/species/homo_sapiens">Homo sapiens (Human)</a>
                </div>
                <div>
                    <h3 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25 heading-small">Locus</h3>
                    <a href="/alleles/locus/{{locus}}">{{locus | deslugify_locus }}</a>
                </div>
                <div>
                    <h3 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25 heading-small">Allele group</h3>
                    <a href="/alleles/allele_group/{{allele_group}}">{{allele_group | deslugify_allele_group }}</a>
                </div>
                <div>
                    <h3 class="vertical-spacing-top-0-5  vertical-spacing-bottom-0-25 heading-small">Canonical allele</h3>
                    <div>
                        <strong>Gene allele:</strong> {{allele_data.canonical_allele.gene_allele_name}}
                    </div>
                    <div>
                        <strong>Identifier:</strong> <a href="https://www.ebi.ac.uk/ipd/imgt/hla/alleles/allele/?accession={{allele_data.canonical_allele.id}}">{{allele_data.canonical_allele.source}}:{{allele_data.canonical_allele.id}}</a>
                    </div>
                </div>
                <div>
                    <h3 class="vertical-spacing-top-0-5  vertical-spacing-bottom-0-25 heading-small">Experimental structures</h3>
                    {% if structure_count > 0 %}<a href="https://www.histo.fyi/structures/browse/alleles/{{allele}}">{% endif %}{{structure_count | structure_count_display}}{% if structure_count > 0 %}{% endif %}</a> 
                </div>
            </div>
        </div>
        <div class="column-two-thirds">
            <div class="inner">
                {{'Structure prediction/structure with location of polymorphisms' | aside | safe}}
            </div>
        </div>
    </div>
</section>  
<section class="vertical-spacing-top-0-5">
    <div class="grid-container">
        <div class="column-full-width">
            <hr />
            <div class="inner">
                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Binding cleft residues</h2> 
                <div class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-5">
                    <strong>{{pocket_pseudosequence_match_count}} alleles</strong> have identical binding pocket residues to <strong>{{allele | deslugify_allele }}</strong>. Residues shown in bold are polymorphisms compared to the reference allele [insert reference allele]. 
                </div>
                
                <div class="pseudosequence-wrapper">
                    {% for label in pocket_pseudosequence_positions %}<div class="pseudusequence-residue-label sequence">{{label}}</div>{% endfor %}
                </div>
                
                <div class="pseudosequence-wrapper vertical-spacing-bottom-0-5">
                    {% for residue in allele_data.pocket_pseudosequence %}{% set i = loop.index0 %}<div class="pseudusequence-residue sequence a-pocket {{netmhc_pocket_labels[i]}}-pocket polymorphic-residue">{{residue}}</div>{% endfor %}
                </div>
                <div>
                    <strong>Pocket key:</strong> <span class="pocket a-pocket">A</span> <span class="pocket b-pocket">B</span> <span class="pocket c-pocket">C</span> <span class="pocket d-pocket">D</span> <span class="pocket e-pocket">E</span> <span class="pocket f-pocket">F</span>
                </div>
                <div class="vertical-spacing-top vertical-spacing-bottom-0-25">
                    The residues listed are ones used commonly for peptide epitope prediction algorithms such as <a href="https://services.healthtech.dtu.dk/services/NetMHCpan-4.1/">NetMHCPan</a> and <a href="{{allele | mhc_flurry_url}}">MHCFlurry</a> and also the MHCMotifAtlas.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vertical-spacing-top-0-5">
    <div class="grid-container">
        <div class="column-full-width">
            <hr />
            <div class="inner">
                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Peptide binding motif</h2> 
            </div>
        </div>
        {% set motif = processed_motif %}

        {% if motif %}
        <div class="column-two-thirds">
            <div class="inner">
                <h3 class="vertical-spacing-bottom-0-25"></h3> 
                <div>
                    Description of the motif and commentary on the figure panels a., b. and c.
                </div>
                
        
            </div>
        </div>
        <div class="column-one-third">
            <div class="inner">     
                <h3 class="vertical-spacing-bottom-0-25"><strong>a.</strong> Nonamer motif logoplot</h3>   
                <img src="https://images.histo.fyi/motifs/logoplots/svg/{{allele}}_9.svg" />
            </div>
        </div>

        <div class="column-two-thirds">
            <div class="inner">                
                <h3 class="vertical-spacing-bottom-0-25"><strong>b.</strong> Nonamer motif table</h3>
                <div class="vertical-spacing-bottom">Experimentally determined motif for {{allele | deslugify_allele}}.</div>
                <table width="100%">
                    <thead>
                        <tr>
                            {% for position in motif %}
                                <th><strong>P{{position}}</strong></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for position in motif %}
                            <td width="11%">
                                {% for amino_acid in motif[position] %}
                                    {% if amino_acid['percentage'] > 5.0 %}
                                        <div class="motif-row {{amino_acid['grade']}}-frequency"><span class="motif-amino-acid ">{{amino_acid['amino_acid']}}</span> <span class="amino-acid-frequency">{{amino_acid['percentage'] | round(1)}}%</span></div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column-one-third">
            <div class="inner">
            
                <h3 class="vertical-spacing-bottom-0-25"><strong>c.</strong> Length preference</h3>
                <div class="">Experimentally determined peptide length preference for {{allele | deslugify_allele}}.</div>
                <img src="https://images.histo.fyi/motifs/lengthplots/png/hla_a_01_01.png" width="100%"/>
                
            </div>
        </div>
        {% endif %}
    </div>
</section>

<section class="vertical-spacing-top-0-5">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Structure prediction</h2>
                {{'A legend for the plots, including information on what each plot means' | aside | safe}}
                <h3 class="heading-small vertical-spacing-top-0-5">AlphaFold quality metrics for the prediction.</h3>
            </div>
        </div>
        <div class="column-one-half">
            <div class="inner">
                <h3><strong>a.</strong> pLDDt for {{allele | deslugify_allele}} prediction</h3>
                <img src="https://images.histo.fyi/predictions/alphafold/hla_c/hla_c_01_02_plddt.png"" />
            </div>
        </div>
        <div class="column-one-half">
            <h3><strong>b.</strong> Sequence coverage for {{allele | deslugify_allele}} prediction</h3>
            <img src="https://images.histo.fyi/predictions/alphafold/hla_c/hla_c_01_02_coverage.png" />
        </div>
        <div class="column-full-width">
            <div class="inner">
                <h3><strong>c.</strong> PAE plots for the 5 ranked predictions for {{allele | deslugify_allele}}</h3>
                <img src="https://images.histo.fyi/predictions/alphafold/hla_c/hla_c_01_02_pae.png" />
            </div>
        </div>
        <div class="column-full-width">
            <div class="inner">
                <h3 class="heading-small vertical-spacing-top">Comparison of the prediction to experimentally determined structures.</h3>
                {{'Information on quality of structure prediction (comparison to structures)' | aside | safe}}
                {% if structure_count == 0 %}
                    There are no structures to compare the prediction to.
                {% else %}
                    Comparison statistics and plots
                {% endif %}
            </div>
        </div>
    </div>
</section>               
    
{% include "section_start.html" %}

                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Movements observed in structures</h2>
                {{'Information on side chain mobility if known' | aside | safe}}
                {{'Information on structure backbone flexibility if known' | aside | safe}}

{% include "section_end.html" %}
{% include "section_start.html" %}

                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Expetimental structures</h2>
                {{'Information on structures if there are any' | aside | safe}}

{% include "section_end.html" %}
{% include "section_start.html" %}

                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25">Sequence</h2>
                {{allele_data.canonical_sequence}}
            
                {{'Sequence with location of polymorphisms' | aside | safe}}

{% include "section_end.html" %}


{% endblock %}