{% set nav='alleles' %}

{% extends "shared/base.html" %}

{% block title %}Alleles | {{locus | deslugify_locus}}{% endblock %}

{% block breadcrumbs %}
<div class="vertical-spacing-bottom-0-5">
    <small>
        <a href="/alleles">Alleles</a> / 
        <a href="/alleles/species/homo_sapiens/">Human</a> / 
        <strong>{{locus | deslugify_locus}}</strong>
    </small>
</div>
{% endblock %}

{% block main %}

{% set column_headings = ['Allele group', 'Number of alleles', '1K Genomes Presence', 'Peptide motifs', 'Structures']%}

{% include "styles.html" %}

<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <small><strong>Locus</strong></small>
                <h1 class="heading-large vertical-spacing-bottom">{{locus | deslugify_locus}}</h1>
                <h3 class="heading-small">Overview</h3>
                <div class="vertical-spacing-bottom-0-25">
                    {{locus | deslugify_locus}} is a human classical Class I locus. It contains <strong>{{allele_group_count}}</strong> allele groups comprising <strong>{{allele_count}}</strong> unique protein alleles.
                </div>
                <div class="vertical-spacing-bottom-0-25">
                    There are <strong>{{structure_count}}</strong> experimentally solved {{locus | deslugify_locus}} 3D structures and <strong>{{motif_count}}</strong> experimentally defined allele specific peptide binding motifs.
                </div>
                <hr class="vertical-spacing-top-0-5" />
            </div>
        </div>
        <div class="column-one-half">
            <div class="inner">
                <h3 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25 heading-small">Allele group sequence distribution</h3>
                <div>
                    <img src="https://images.histo.fyi/graphs/locus_pie_charts/{{locus}}.svg" class="figure" />
                    <span aria-label="[alttext contents]" class="hidden-aria-text">{{pie_chart_alt_text}}</span>
                </div>
                <div><small>A diagram showing the largest HLA-A allele groups as a function of number of protein allele sequences.</small></div>
            </div>
        </div>
        <div class="column-one-half">

        </div>
        <div class="column-full-width">
            <div class="inner">
                <hr class="vertical-spacing-top-0-5"/>
                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-5">Allele groups</h2>

                <table width="100%">
                    <thead>
                        <tr>
                            {% for column_heading in column_headings %}
                                <th><strong>{{column_heading}}</strong></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer-row"></tr>
                    
                {% for allele_group in allele_groups %}
                    <tr class="data-rows">
                        <td class="data-item">
                            <a href="/alleles/allele_group/{{allele_group}}">{{allele_group | deslugify_allele_group}}</a>
                        </td>
                        <td class="data-item">
                            {{allele_groups[allele_group].allele_count}}
                        </td>
                        <td class="data-item">
                            {{allele_groups[allele_group].variability}}
                        </td>
                        <td class="data-item">
                            {% if allele_groups[allele_group].motif_count != 0 %}
                                {{allele_groups[allele_group].motif_count }}
                            {% endif %}
                        </td>
                        <td class="data-item">
                            {% if allele_groups[allele_group].structure_count != 0 %}
                                {{allele_groups[allele_group].structure_count}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</section>
{% endblock %}