{% set nav='alleles' %}

{% extends "shared/base.html" %}

{% block title %}Alleles | {{locus | deslugify_locus}}{% endblock %}

{% block breadcrumbs %}
<div class="vertical-spacing-bottom-0-5"><small><a href="/alleles">Alleles</a> | <a href="/alleles/species/homo_sapiens/">Human (Homo sapiens)</a> | <strong>{{locus | deslugify_locus}}</strong></small></div>
{% endblock %}

{% block main %}

{% set column_headings = ['Allele group', 'Number of alleles', 'Consensus motif', 'Known peptide motifs', 'Number of structures']%}

{% include "styles.html" %}

<section>
    <div class="grid-container">
        <div class="column-one-half">
            <div class="inner">
                <small><strong>Locus</strong></small>
                <h1 class="heading-large vertical-spacing-bottom">{{locus | deslugify_locus}}</h1>
                
                <h3 class="heading-small">Statistics</h3>
                <table>
                    <tr>
                        <td class="info-item"><strong>Alleles:</strong></td>
                        <td class="info-item">{{allele_count}}</td>
                    </tr>
                    <tr>
                        <td class="info-item"><strong>Allele groups:</strong></td>
                        <td class="info-item">{{allele_group_count}}</td>
                    </tr>
                    <tr>
                        <td class="info-item"><strong>Alleles:</strong></td>
                        <td class="info-item">{{allele_count}}</td>
                    </tr>
                    <tr>
                        <td class="info-item"><strong>Structures:</strong></td>
                        <td class="info-item">{{structure_count}}</td>
                    </tr>
                    <tr>
                        <td class="info-item"><strong>Motifs:</strong></td>
                        <td class="info-item">{{motif_count}}</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="column-one-half">
            <div class="inner">
                <h3 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25 heading-small">Allele group distribution</h3>
                <div>
                    <img src="https://images.histo.fyi/graphs/locus_pie_charts/{{locus}}.svg" />
                    <span aria-label="[alttext contents]" class="hidden-aria-text">{{pie_chart_alt_text}}</span>
                </div>
            </div>
        </div>
            <div class="inner">
                <hr class="vertical-spacing-top-0-5"/>
                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-5">Allele groups </h2>

                <table width="100%">
                    <thead>
                        <tr>
                            {% for column_heading in column_headings %}
                                <th><strong>{{column_heading}}</strong></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer-row"></tr>
                    
                {% for allele_group in allele_groups %}
                    <tr class="data-rows">
                        <td class="data-item">
                            <a href="/alleles/allele_group/{{allele_group}}">{{allele_group | deslugify_allele_group}}</a>
                        </td>
                        <td class="data-item">
                            {{allele_groups[allele_group].allele_count}}
                        </td>
                        <td class="data-item">
                            {{allele_groups[allele_group].variability}}
                        </td>
                        <td class="data-item">{% if allele_groups[allele_group].structure_count != 0 %}
                                {{allele_groups[allele_group].structure_count}}
                            {% endif %}
                        </td>
                        <td class="data-item">
                            {% if allele_groups[allele_group].motif_count != 0 %}
                                {{allele_groups[allele_group].motif_count }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</section>
{% endblock %}