{% extends "shared/base.html" %}


{% include "styles.html" %}


{% block main %}

<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <small><strong>Species</strong></small>
                <h1 class="heading-large vertical-spacing-bottom structure-title">{{species}}</h1>
            </div>
        </div>
        <div class="column-full-width">
            <div class="inner">
                <h2>Loci </h2>
            </div>
        </div>
        {% for locus in loci %}
        <div class="grid-column proto-pipeline-phase">
            <div class="inner">
                <span class="phase-title is-indy"><a href="/alleles/locus/{{locus}}">{{locus|deslugify_locus}}</a></span>
                <span class="heading-extra-large phase-count">100 / 1000</span><span class="small">allele groups / alleles</span>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

{% endblock %}