{% set nav='alleles' %}
{% extends "shared/base.html" %}


{% block main %}


{% include "styles.html" %}

{% set column_headings = ['Allele', 'Structures', 'Simplified peptide motif', 'Binding site polymorphisms']%}
{% set column_widths = ['14', '15', '23', '48']%}

<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <small><strong>Allele group</strong></small>
                <h1 class="heading-large">{{allele_group | deslugify_allele_group | safe}}</h1>
            </div>
        </div>
        <div class="column-one-half">
            <div class="inner">
                <div>
                    <h3 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25 heading-small">Species</h3>
                    <a href="/alleles/species/homo_sapiens">Homo sapiens (Human)</a>
                </div>
                <div>
                    <h3 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-25 heading-small">Locus</h3>
                    <a href="/alleles/locus/{{locus}}">{{locus | deslugify_locus }}</a>
                </div>
                <div>
                    <h3 class="vertical-spacing-top-0-5  vertical-spacing-bottom-0-25 heading-small">Number of alleles</h3>
                    {{allele_count}}
                </div>
                <div>
                    <h3 class="vertical-spacing-top-0-5  vertical-spacing-bottom-0-25 heading-small">Number of structures</h3>
                    {% if structure_count > 0 %}
                        <a href="https://www.histo.fyi/structures/browse/allele_groups/{{allele_group}}">{{structure_count | structure_count_display}}</a>
                    {% else %}
                        {{structure_count | structure_count_display}}
                    {% endif %}
                </div>
                <div>
                    <h3 class="vertical-spacing-top-0-5  vertical-spacing-bottom-0-25 heading-small">Alleles with known/inferred motif</h3>
                    <strong>{{known_motif_count}}</strong> / {{inferred_motif_count}}
                </div>
                
            </div>
        </div>
        <div class="column-one-half">
            <div class="inner">
                <img src="https://images.histo.fyi/allele_groups/pocket_images/{{locus}}/{{allele_group}}_cleft_labelleled.png" />
            </div>
        </div>
        <div class="column-one-half">
            <div class="inner">
                <h2>Alleles</h2>
            </div>
        </div>
        <div class="column-one-half">
            <div class="inner">
                <strong>Pocket key:</strong> <span class="pocket a-pocket">A</span> <span class="pocket b-pocket">B</span> <span class="pocket c-pocket">C</span> <span class="pocket d-pocket">D</span> <span class="pocket e-pocket">E</span> <span class="pocket f-pocket">F</span>
            </div>
        </div>
        <div class="column-full-width">
            <div class="inner">
                {% set item_count = allele_count %}

                {% include "pagination.html" %}

                <table width="100%" class="vertical-spacing-bottom">
                    <thead>
                        <tr>
                            {% set i = 0 %}
                            {% for column_heading in column_headings %}
                                {% set i = loop.index0 %}
                                <th width="{{column_widths[i]}}%"><strong>{{column_heading}}</strong></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer-row"></tr>

                        <tr class="reference">
                            <td>
                                <a href="/alleles/allele/{{reference_allele_info.allele}}"><nobr>{{reference_allele_info.allele | deslugify_allele}}</nobr></a>
                            </td>
                            <td>
                                {% if reference_allele_info.structure_count %}
                                    <a href="https://www.histo.fyi/structures/browse/alleles/{{reference_allele_info.allele}}">{{reference_allele_info.structure_count}}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if reference_allele_info.motif_type %}
                                    <div class="{{reference_allele_info.motif_type}}-motif"></div>
                                    {{reference_allele_info.motif | display_simple_motif | safe}}
                                {% else %}
                                    <br />
                                    <br />
                                {% endif %}
                            </td>
                            <td>
                                Reference allele
                            </td>
                        </tr>

                        <tr class="spacer-row"></tr>
                
                    {% for allele in alleles %}
                        <tr class="data-rows">
                            <td class="data-item">
                               <a href="/alleles/allele/{{allele.allele}}"><nobr>{{allele.allele | deslugify_allele}}</nobr></a>
                            </td>
                            <td class="data-item">
                                {% if allele.structure_count %}
                                    <a href="https://www.histo.fyi/structures/browse/alleles/{{allele.allele}}">{{allele.structure_count}}</a>
                                {% endif %}
                            </td>
                            <td class="data-item">
                                {% if allele.motif_type %}
                                <div class="{{allele.motif_type}}-motif">
                                </div>
                                    {{allele.motif | display_simple_motif | safe}}
                                {% else %}
                                    <br />
                                    <br />
                                {% endif %}
                            </td>
                            <td class="data-item">
                                <div class="vertical-spacing-bottom-0-25">
                                {% for polymorphism in allele.polymorphisms.binding_pocket %}
                                    <span class="pocket {{ polymorphism.pocket }}-pocket tooltip">
                                        <!-- start tooltip contents -->
                                        <span class="tooltiptext">
                                        
                                            <div >
                                                <div style="float:left;" class="tooltip-heading">
                                                    <strong><a href="https://www.histo.fyi/positions/class_i/{{locus}}/{{polymorphism.position}}">Position {{ polymorphism.position }}</a></strong> 
                                                </div>
                                                <div style="float:right;">
                                                {% if polymorphism.pocket != 'o' %}
                                                    <span class="pocket {{ polymorphism.pocket }}-pocket">{{ polymorphism.pocket | upper }} pocket</span>
                                                {% endif %}
                                                </div> 
                                            </div>
                                            <div class="vertical-spacing-top" style="clear:both;">
                                                Information about the change, location of residue. more information. 
                                            </div>
                                            <hr class="vertical-spacing-bottom-0-25" />
                                            <div class="vertical-spacing-bottom-0-25"><strong>Position {{ polymorphism.position }} polymorphisms in {{locus | deslugify_locus }}</strong></div>
                                            <img src="/static/donut.png" class="tooltip-image"/>
                                        </span>
                                        <!-- end tooltip contents -->    
                                        {{ polymorphism.from }}{{ polymorphism.position }}{{ polymorphism.to }}
                                    </span>
                                    {% if loop.index0 % 7 == 0 and loop.index0 != 0 %}
                                            </div>
                                            <div class="vertical-spacing-bottom-0-25">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% include "pagination.html" %}
            </div>
        </div>  

    </div>
</section>
{% endblock %}