{% extends "shared/base.html" %}


{% include "styles.html" %}


{% block main %}

<section class="">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h1 class="heading-extra-large vertical-spacing-bottom">Alleles</h1>
                {{'Need a welcome paragraph to go in here' | aside | safe}}
                {{'Write welcome paragraph' | todo | safe}}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h2>Statistics</h2>
                {{'Need a paragaph about stats to go in here' | aside | safe}}
            </div>
        </div>
        <div class="column-full-width">
            <div class="inner">
                <h2>Species</h2>
            </div>
        </div>
        <div class="column-full-width">
            <div class="inner">
                {% for species in ['homo_sapiens'] %}
                    <a href="/alleles/species/{{species}}">{{species}}</a>
                {% endfor %}
            </div>
        </div>  
    </div>
</section>
{% endblock %}