{% set nav='alleles' %}
{% extends "shared/base.html" %}

{% block title %}Alleles | {{allele_group | deslugify_allele_group | safe}}{% endblock %}

{% block breadcrumbs %}
<div class="vertical-spacing-bottom-0-5">
    <small>
        <a href="/alleles">Alleles</a> / 
        <a href="/alleles/species/homo_sapiens/">Human</a> / 
        <a href="/alleles/locus/{{locus}}">{{locus | deslugify_locus}}</a> / 
        <strong>{{allele_group | deslugify_allele_group | safe}}</strong>
    </small>
</div>
{% endblock %}
{% block main %}


{% include "styles.html" %}



<section>
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
            
                <small><strong>Allele group</strong></small>
                <h1 class="heading-large vertical-spacing-bottom">{{allele_group | deslugify_allele_group | safe}}</h1>
                    
                <h3 class="heading-small">Overview</h3>
                <div class="vertical-spacing-bottom-0-25">
                    There are <strong>{{allele_count}}</strong> protein alleles within the {{allele_group | deslugify_allele_group | safe}} group. 
                </div>
                <div class="vertical-spacing-bottom-0-25">
                    There 
                    {% if known_motif_count == 1%}
                        is <strong>{{known_motif_count}}</strong> experimentally determined motif.
                    {% elif known_motif_count == 0 %}
                        are no experimentally determined motifs for this allele group.
                    {% else %}
                        are <strong>{{known_motif_count}}</strong> experimentally determined motifs.
                    {% endif %}
                    {% if inferred_motif_count > 0 %}
                        <strong>{{inferred_motif_count}}</strong> alleles have no polymorphisms in the binding site compared to alleles with known motifs (meaning they are likely to bind near identical repertoires).
                    {% endif %}
                </div>
                <div class="vertical-spacing-bottom-0-25">
                    There  
                    {% if structure_count == 0 %}
                    are no experimental structures
                    {% elif structure_count == 1 %}
                    is <strong>{{structure_count}}</strong> experimental structure
                    {% else %}
                    are <strong>{{structure_count}}</strong> experimental structures
                    {% endif %}
                    available for this allele group.
                </div>  
                
                <hr />
            </div>
        </div>
        <div class="column-one-half">
            <div class="inner">
                <img src="https://images.histo.fyi/graphs/allele_group_pie_charts/{{allele_group}}.svg" />
            </div>
        </div>

        <div class="column-one-half">
            <div class="inner">
                
            </div>
        </div>

        <div class="column-full-width">
            <div class="inner">
                <hr class="vertical-spacing-top-0-5"/>
                <h2 class="vertical-spacing-top-0-5 vertical-spacing-bottom-0-5">{{allele_group | deslugify_allele_group | safe}} group alleles</h2>
            </div>
        </div>


        <div class="column-full-width">
            <div class="inner">
                {% set item_count = allele_count %}

                {% include "pagination.html" %}
                <table width="100%" class="vertical-spacing-bottom">
                    <thead>
                        <tr>
                            <th width="12%"><strong>Allele</strong></th>
                            <th width="25%">
                                <div class="vertical-spacing-bottom-0-25"><strong>1KGenomes superpopulation</strong></div>
                                <table width='90%'>
                                    <tr>
                                        {% for superpopulation in ['AFR','AMR','EAS','EUR','SAS'] %}
                                        <td width='20%'>
                                            <small>{{superpopulation}}</small>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </th>
                            <th width="26%">
                                <div class="vertical-spacing-bottom-0-25"><strong>Simplified peptide motif</strong></div>
                                <table width='85%'>
                                    <tr>
                                        {% for position in [1,2,3,4,5,6,7,8,9] %}
                                        <td width='10%'>
                                            <small>P{{position}}</small>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                </table>

                            </th>
                            <th width="40%">
                                <div class="vertical-spacing-bottom-0-25"><strong>Binding site polymorphisms</strong></div> 
                                <div><small>Pockets: </small>
                                <nobr>
                                {% for pocket in ['A','B','C','D','E','F'] %}
                                <span class="pocket {{pocket | lower}}-pocket tooltip fake-anchor">
                                    <small>{{pocket}}</small>
                                    <span class="tooltiptext pocket-tooltip">
                                        <div class="tooltip-heading">MHC Class I {{pocket}} pocket</div>
                                        <div>
                                            <img src="https://images.histo.fyi/allele_groups/pocket_images/{{locus}}/hla_a_01_cleft_labelleled.png" width="300px"/>
                                        </div>
                                    </span>
                                </span> 
                                
                                {% endfor %}
                                </nobr>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer-row"></tr>

                        <tr class="reference">
                            <td>
                                <div><a href="/alleles/allele/{{reference_allele_info.allele}}"><nobr>{{reference_allele_info.allele | deslugify_allele}}</nobr></a>
                                {% if reference_allele_info.structure_count %}
                                    <br />
                                    <small><a href="https://www.histo.fyi/structures/browse/alleles/{{reference_allele_info.allele}}">{{reference_allele_info.structure_count}} structure{% if reference_allele_info.structure_count >1%}s{% endif %}</a></small>
                                {% endif %}
                                </div>
                            </td>
                            <td>
                                {% include "fragments/1kgenomes_mini_table.html" %}
                            </td>
                            <td>
                                {% if reference_allele_info.motif_type %}
                                    <div class="{{reference_allele_info.motif_type}}-motif">
                                    </div>
                                    {{reference_allele_info.motif | display_simple_motif | safe}}
                                {% else %}
                                    <br />
                                    <br />
                                {% endif %}
                            </td>
                            <td>
                                Reference allele
                            </td>
                        </tr>

                        <tr class="spacer-row"></tr>
                
                    {% for allele in alleles %}
                        <tr class="data-rows">
                            <td class="data-item">
                               <a href="/alleles/allele/{{allele.allele}}"><nobr>{{allele.allele | deslugify_allele}}</nobr></a>
                               {% if allele.structure_count %}
                                    <br />
                                    <small><a href="https://www.histo.fyi/structures/browse/alleles/{{allele.allele}}">{{allele.structure_count}} structure{% if allele.structure_count >1%}s{% endif %}</a></small>
                                {% endif %}
                            </td>
                            <td class="data-item">
                            </td>
                            <td class="data-item">
                                {% if allele.motif_type %}
                                <div class="{{allele.motif_type}}-motif">
                                </div>
                                    {{allele.motif | display_simple_motif | safe}}
                                {% else %}
                                    Unknown
                                    <br />
                                {% endif %}
                            </td>
                            <td class="data-item">
                                <div class="vertical-spacing-bottom-0-25">
                                {% if allele.polymorphisms.binding_pocket | length == 0 %}
                                    <span class="no-polymorphisms">Identical binding pockets to {{allele.matches | deslugify_allele | safe}}</span>
                                {% else %}
                                    
                                
                                {% for polymorphism in allele.polymorphisms.binding_pocket %}
                                    <span class="pocket {{ polymorphism.pocket }}-pocket tooltip fake-anchor">
                                        <!-- start tooltip contents -->
                                        <span class="tooltiptext polymorphism-tooltip">
                                        
                                            <div >
                                                <div style="float:left;" class="tooltip-heading">
                                                    <strong><!--a href="https://www.histo.fyi/positions/class_i/{{locus}}/{{polymorphism.position}}" -->Position {{ polymorphism.position }}<!--/a --></strong> 
                                                </div>
                                                <div style="float:right;">
                                                {% if polymorphism.pocket != 'o' %}
                                                    <span class="pocket {{ polymorphism.pocket }}-pocket">{{ polymorphism.pocket | upper }} pocket</span>
                                                {% endif %}
                                                </div> 
                                            </div>
                                            <div class="vertical-spacing-top" style="clear:both;">
                                                {% set substitution = polymorphism.from + polymorphism.to %}
                                                {{substitution | substitution_effect | safe}}
                                                {% set position_number = polymorphism.position | string() %}
                                                <br />
                                                {% set polymorphism_data = locus + "|" + polymorphism.to + "_" + position_number %}
                                                {{ polymorphism_data | polymorphism_information | safe}}
                                            </div>
                                            <hr class="vertical-spacing-bottom-0-25" />
                                            <div class="vertical-spacing-bottom-0-25"><strong>Position {{ polymorphism.position }} polymorphisms in {{locus | deslugify_locus }}</strong></div>
                                            <img src="https://images.histo.fyi/positions/card/{{locus}}_{{polymorphism.position}}.svg" class="tooltip-image"/>
                                        </span>
                                        <!-- end tooltip contents -->    
                                        {{ polymorphism.from }}{{ polymorphism.position }}{{ polymorphism.to }}
                                    </span>
                                    {% if loop.index0 % 7 == 0 and loop.index0 != 0 %}
                                            </div>
                                            <div class="vertical-spacing-bottom-0-25">
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% include "pagination.html" %}
            </div>
        </div>  

    </div>
</section>
{% endblock %}