{% set nav='alleles' %}
{% extends "shared/base.html" %}


{% block main %}

{% include "styles.html" %}

<section class="">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h1 class="heading-large vertical-spacing-bottom-0-5">Alleles</h1>
                <div class="vertical-spacing-bottom-0-25">
                    Within this resource you can find information on locations of polymorphisms, peptide binding motifs where known, relationships to other alleles, lists of structures and structure predictions for HLA class I alleles.
                </div>
                <div class="vertical-spacing-bottom-0-25">
                    It is a resource which will grow over time, with more data being added for non-Human Class I and Class II alleles in due course.
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="grid-container">
        <div class="column-full-width vertical-spacing-top-0-5">
            <div class="inner">
                <h2 class="heading-medium vertical-spacing-bottom-0-25">Search</h2>
                <div>
                    {% set show_advanced_link = True %}
                    {% include "fragments/lookup_form.html" %}
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="grid-container">
        <div class="column-full-width vertical-spacing-top">
            <div class="inner">
                <h2 class="heading-medium">Statistics</h2>
            </div>
        </div>
        <div class="column-one-quarter">
            <div class="inner">
                <span class="phase-title is-histo">Species</span>
                <span class="heading-extra-large phase-count">{{stats.species.completed_species}}</span><span class="small"><a href="/alleles/species/homo_sapiens">species</a></span>
            </div>
        </div>
        <div class="column-one-quarter">
            <div class="inner">
                <span class="phase-title is-purple">Loci</span>
                <span class="heading-extra-large phase-count">{{stats.loci.completed_loci}}</span><span class="small"><a href="/alleles/species/homo_sapiens">loci</a></span>
            </div>
        </div>
        <div class="column-one-quarter">
            <div class="inner">
                <span class="phase-title is-teal">Allele groups</span>
                <span class="heading-extra-large phase-count">100</span><span class="small">allele groups</span>
            </div>
        </div>
        <div class="column-one-quarter">
            <div class="inner">
                <span class="phase-title is-indigo">Alleles</span>
                <span class="heading-extra-large phase-count">1000</span><span class="small">alleles</span>
            </div>
        </div>
          
    </div>
</section>
{% endblock %}