{% set nav='alleles' %}
{% extends "shared/base.html" %}

{% block title %}Alleles | Simple search{% endblock %}

{% block breadcrumbs %}
<div class="vertical-spacing-bottom-0-5"><small><a href="/alleles">Alleles</a> | <strong>Simple search</strong></small></div>
{% endblock %}

{% block main %}

{% include "styles.html" %}

<section class="">
    <div class="grid-container">
        <div class="column-full-width">
            <div class="inner">
                <h1 class="heading-large vertical-spacing-bottom-0-5">Search</h1>
                
                {% include "fragments/lookup_form.html" %}

                <hr />
                <h2 class="heading-small vertical-spacing-bottom-0-25 vertical-spacing-top-0-5">Results</h2>
                {% if error %}
                    <div class="vertical-spacing-bottom-0-5">{{error | safe }}</div>
                {% endif %}
                
                {% if suggestions %}
                    <div class="vertical-spacing-bottom-0-25">Here are some suggestions based on your query:</div>
                    <ul>
                        {% for suggestion in suggestions %}
                            <li class="vertical-spacing-bottom-0-25">
                                {% if suggestion.type=='allele_group' %}
                                    The <a href="/alleles/allele_group/{{suggestion.slug}}">{{suggestion.id}}</a> allele group.
                                {% elif suggestion.type=='allele_number' %}
                                    The <a href="/alleles/allele/{{suggestion.slug}}">{{suggestion.id}}</a> allele.
                                {% else %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                

            </div>
        </div>
    </div>
</section>

{% endblock %}