<style>

th {
    text-align: left;
}

td {
    vertical-align: top !important;
}

tr.spacer-row {
    height: 10px;
}

tr.data-rows {
    border-top: 15px solid transparent;
}

th {
    border-bottom: 2px solid #8e8eae !important;
}

/* debugging/prototyping styles */

aside {
    color:green;
}

placeholder {
    opacity: 0.8;
}

todo {
    color: red;
}

question {
    color: blue;
}

.sequence {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 12pt;
}

span.residue {
    padding: 4px;
    font-family: 'Courier New', Courier, monospace !important;
    border: 1px solid #cccccc;
}

span.pocket {
    padding: 4px;
}

span.a-pocket {
    background-color: rgba(255, 223, 184, 0.6);
    border: 2px solid rgba(255, 223, 184, 1);
}

span.b-pocket {
    background-color: rgba(252, 202, 226, 0.6);
    border: 2px solid rgba(252, 202, 226, 1);
}

span.c-pocket {
    background-color: rgba(174, 211, 211, 0.6);
    border: 2px solid rgba(174, 211, 211, 1);
}

span.d-pocket {
    background-color: rgba(174, 230, 174, 0.6);
    border: 2px solid rgba(174, 230, 174, 1);
}

span.e-pocket {
    background-color: rgba(149, 149, 192, 0.6);
    border: 2px solid rgba(149, 149, 192, 1);
}

span.f-pocket {
    background-color: rgba(228, 187, 123, 0.6);
    border: 2px solid rgba(228, 187, 123, 1);
}

span.o-pocket {
    border: 2px solid #eeeeee;
}
</style>
